{% extends 'base.html.twig' %}

{% block title %}Role index
{% endblock %}

{% block body %}

<h1 class="text-center py-5">TABLEAU DE BORD ROLES</h1>

<table class="table position-relative">
    <div class="button d-flex justify-content-around m-2">
        <a href="javascript:ajouter()" class="buttonadd">Ajouter</a>
        <a href="javascript:afficher()" class="buttonshow">Afficher</a>
        <a href="javascript:modifier()" class="buttonmodify">Modifier</a>
        <a href="javascript:supprimer()" class="buttondelete">Supprimer</a>
    </div>
</table>
<div class="table-responsive">
    <table class="table table-bordered table-striped text-center">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th scope="col">Id</th>
                <th scope="col">Nom_role</th>
            </tr>
        </thead>
        <tbody>
            {% for role in roles %}
            <tr>
                <td><input type="checkbox" class="form-check-input" id="{{role.id}}" value="{{role.id}}" name="check"
                        onclick="onlyOne(this)"></td>
                <td>{{ role.id }}</td>
                <td>{{ role.nomRole }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% block script %}
<script>
    const modifier = () => {
        let id = getIdChecked('check');
        if (id == 0) {
            alert("Please select Client to modify");
        } else {
            let url = "{{ path('app_role_edit',{'id':'id'}) }}"
            url = url.replace('id', id);
            document.location.href = url;
        }
    }

      const ajouter = () => {
        document.location.href = "{{ path('app_role_new') }}";
    }

    const afficher = () => {
        let id = getIdChecked('check');
        if (id == 0) {
            alert("Choisir ligne");
        } else {
            let url = "{{ path('app_role_show', {'id': 'id'}) }}";
            url = url.replace('id', id);
            document.location.href = url;

        }
    }
     const supprimer = () => {
        let id = getIdChecked('check');
        if (id == 0) {
            alert('Svp choisissez le role à supprimé');
        } else {
            const response = confirm('Voulez vous absolument supprimer ce role?');
            if (response) {
                let url = "{{ path('app_role_delete',{'id':'id'}) }}";
                url = url.replace('id', id);
                document.location.href = url;
            }

        }
    }
</script>
{% endblock %}
{% endblock %}