{% extends 'base.html.twig' %}

{% block title %}Hello MenuController!
{% endblock %}

{% block body %}
{% block stylesheets %}{% endblock %}
<div class="example-wrapper">
    <table class="table position-relative">
        <div class="button d-flex justify-content-around m-2">
            <a href="javascript:ajouter()" class="buttonadd">Ajouter</a>
            <a href="javascript:afficher()" class="buttonshow">Afficher</a>
            <a href="javascript:modifier()" class="buttonmodify">Modifier</a>
            <a href="javascript:supprimer()" class="buttondelete">Supprimer</a>
        </div>
        <thead>
            <tr class=" position-sticky">
                <th></th>
                <th>LIBELLE</th>
                <th>URL</th>
                <th>ICON</th>
                <th>ROLE</th>
            </tr>
        </thead>


        <tbody id="tbody_menu">
            {{menu|raw}}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="5" class="text-center">Total:</th>
            </tr>
        </tfoot>
    </table>
</div>
{% block script %}
<script>

    const modifier = () => {
        let id = getIdChecked('check');
        if (id == 0) {
            alert('Veuillez sélectionner le menu à modifier')
        } else {
            const url = "{{path('app_menu_modify',{'id':'id'})}}";
            let newUrl = url.replace('id', id);
            document.location.href = newUrl;
        }
    }
    const afficher = () => {
        const id = getIdChecked('check');
        if (id == 0) {
            alert('Veuillez sélectionner le menu à afficher');
        } else {
            const url = "{{path('app_menu_show',{'id':'id'})}}";
            const newUrl = url.replace('id', id);
            document.location.href = newUrl;
        }
    }

    const ajouter = () => {
        const url = "{{path('app_menu_modify',{'id':0})}}";
        document.location.href = url;
    }

    const supprimer = () => {
        const id = getIdChecked('check');
        if (id == 0) {
            alert('Please select menu to delete');
        } else {
            const response = confirm('Do you really want to delete this menu?');
            if (response) {
                const url = "{{path('app_menu_delete',{'id':'id'})}}";
                const newUrl = url.replace('id', id);
                document.location.href = newUrl;
            }

        }
    }
</script>
{% endblock %}

{% endblock %}