{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}

<h1 class="text-center py-5 ">TABLEAU DE BORD USERS</h1>

<table class="table position-relative">
    <div class="button d-flex justify-content-around m-2">
        <a href="javascript:ajouter()" class="buttonadd">Ajouter</a>
        <a href="javascript:afficher()" class="buttonshow">Afficher</a>
        <a href="javascript:modifier()" class="buttonmodify">Modifier</a>
        <a href="javascript:supprimer()" class="buttondelete">Supprimer</a>
    </div>
</table>
<div class="table-responsive">
    <table class="table table-bordered table-striped text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Roles</th>
                <th scope="col">Password</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <th scope="row"><input type="checkbox" class="form-check-input" id="{{user.id}}" value="{{user.id}}"
                        name="check" onclick="onlyOne(this)"></th>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>****</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouvé</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% block script %}
<script>
    const modifier = () => {
        let id = getIdChecked('check');
        if (id == 0) {
            alert("Please select Client to modify");
        } else {
            let url = "{{ path('app_user_edit',{'id':'id'}) }}";
            url = url.replace('id', id);
            document.location.href = url;
        }
    }
    const ajouter = () => {
        document.location.href = "{{ path('app_user_new') }}";
    }

    const afficher = () => {
        let id = getIdChecked('check');
        if (id == 0) {
            alert("Choisir ligne");
        } else {
            let url = "{{ path('app_user_show', {'id': 'id'}) }}";
            url = url.replace('id', id);
            window.location.href = url;
        }
    }
     const supprimer = () => {
        let id = getIdChecked('check');
        if (id == 0) {
            alert('Svp choisissez le user à supprimé');
        } else {
            const response = confirm('Voulez vous absolument supprimer ce user?');
            if (response) {
                let url = "{{ path('app_user_delete',{'id':'id'}) }}";
                url = url.replace('id', id);
                document.location.href = url;
            }

        }
    }
</script>
{% endblock %}
{% endblock %}