{% extends 'base.html.twig' %}

{% block title %}New User
{% endblock %}

{% block body %}
<div class="d-flex justify-content-center bg-dark">
    <div>


        {{ form_start(form) }}
        <h1 class="">Create new User</h1>
        {{ form_widget(form) }}
        <div class="d-flex">
            <a href="{{ path('app_user_index') }}" class="buttonshow">back to list</a>
            <button class="buttonmodify">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}

        </div>
    </div>
    {% endblock %}